.container {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  background-color: #49A8BE;
  height: 1100px;


}
.contenu {

  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
